* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #e6eab9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#app-wrapper {
  width: 100%;
  max-width: 800px;
  padding: 25px;
  text-align: center;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.title-group h1 {
  font-size: 24px;
  color: #31485e;
}

.title-group small {
  display: block;
  font-size: 14px;
  color: #666;
  margin-top: 4px;
  text-align: left;
  padding-left: 5px;
}

#clear-data {
  background: #fff;
  border: 2px solid #e74c3c;
  color: #e74c3c;
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

#clear-data:hover {
  background: #e74c3c;
  color: #fff;
  transform: scale(1.1);
}

.info-box {
  background: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
/* Dışarıya doğru parlayan ışık */
box-shadow: 2px 3px 7px 3px rgba(255, 76, 76, 0.6);
               font-weight: 600;
  margin-bottom: 60px;
}

.game-area {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

/* Çubuk */
#beam {
  width: 500px;
  height: 10px;
  background: #31485e;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  z-index: 10;
  
  transform-origin: 50% 50%;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      box-sizing: content-box; 

  /* Tıklama alanını genişletmek için */
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  background-clip: padding-box;
}

#beam:hover {
  background-color: #5e4cff;
}

/* Destek Noktası (Üçgen) */
.support {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #5441ff;
  margin-top: -5px;
  z-index: 5;
}

/* Ağırlıklar */
.item {
  position: absolute;
  bottom: 30px; /* Çubuğun üstüne oturması için */
  width: 40px;
  height: 40px;
  background: #1dbe52;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  animation: fallEffect 0.4s ease-out;
  pointer-events: none;
}

@keyframes fallEffect {
  0% { opacity: 0; transform: translate(-50%, -50px) scale(0.8); }
  100% { opacity: 1; transform: translate(-50%, 0) scale(1); }
}